{% extends 'base.html.twig' %}

{% block title %}Member details - {{ member.email }}{% endblock %}

{% block body %}
    <div class="row g-lg-2" style="outline: 1px dotted red">
        <div class="col-lg-12 mt-lg-4">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" aria-current="page" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Basic info</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#tools" type="button" role="tab" aria-controls="tools">Tools</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#">Skills</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" aria-disabled="true">Reviews</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link">Assessments</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link">1-on-1</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="border border-top-0 p-lg-2"  >
                                <p>
                                    Seniority: {{ member.seniority.name }}
                                </p>
                                <p>Joined: {{ member.hiredAt|date('d.m.Y') }}</p>
                                <em>Roles</em>
                                <ul class="list-group list-group-flush">
                                    {% for role in member.roles %}
                                        <li class="list-group-item">{{ role.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="pt-lg-2 text-center">
                                <a href="#" class="card-link btn btn-primary">New review</a>
                                <a href="#" class="card-link btn btn-secondary">New assessment</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
                            <h1>bre rge</h1>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="card m-lg-2">
                        <h5 class="card-header">{{ member.firstName }} {{ member.lastName }}</h5>
                        <img src="{{ asset("/uploads/images/members/" ~ member.imgUrl) }}" class="card-img" alt="{{ member.firstName }} {{ member.lastName }}">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}