{% extends 'base.html.twig' %}

{% block title %}Member listing{% endblock %}

{% block body %}
    <form action="">
        <div class="row g-3 m-lg-2 p-lg-2">
        <div class="col-lg-4">
            <label for="inputState" class="form-label">Role</label>
            <select id="inputState" class="form-select" name="role">
                {% for key,role in filterData.role %}
                    <option value="{{ key }}">{{ role }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-4">
            <label for="inputState" class="form-label">Seniority</label>
            <select id="inputState" class="form-select" name="seniority">
                {% for key,seniority in filterData.seniority %}
                    <option value="{{ key }}">{{ seniority }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-4">
            <label for="">&nbsp;</label>
            <button class="btn btn-primary">Filter</button>
        </div>
        </div>
    </form>

<div class="row row-cols-1 row-cols-lg-5 g-2">
    {% for member in members %}
    <div class="col">
        <div class="card h-100">
            <h5 class="card-header">{{ member.firstName }} {{ member.lastName }}</h5>
            <img src="{{ asset("/uploads/images/members/" ~ member.imgUrl) }}" class="card-img" alt="{{ member.firstName }} {{ member.lastName }}">
            <div class="card-body">
                <p class="card-title">
                    Seniority: {{ member.seniority.name }}</p>
                <p class="card-subtitle">Joined: {{ member.hiredAt|date('d.m.Y') }}</p>
            </div>
            <em>Roles</em>
            <ul class="list-group list-group-flush">
                {% for role in member.roles %}
                    <li class="list-group-item list-group-item-warning">{{ role.name}}</li>
                {% endfor %}
            </ul>
            <div class="card-footer text-center">
                <a href="{{ url('member_details', {memberId : member.id }) }}" class="card-link btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <div {{ stimulus_controller('hello') }}>
    </div>
{% endblock %}
