{% extends 'base.html.twig' %}

{% block title %}Member list{% endblock %}

{% block body %}
    <ul>
        {% for member in members %}
            <li>{{ member.id }} <a href="{{ url('member_details', {memberId: member.id}) }}"> {{ member.email }}  </a> {{ member.firstName }} {{ member.lastName }}
                <a href="{{ url('member_edit', {memberId: member.id}) }}">Uredi</a>  </li>
        {% endfor %}
    </ul>

    <div {{ stimulus_controller('hello') }}>
        ...
    </div>
{% endblock %}