{% extends 'base.html.twig' %}

{% block title %}Member listing{% endblock %}

{% block body %}

<div class="row row-cols-1 row-cols-lg-4 g-2">
    {% for member in members %}
<div class="col">
    <div class="card h-100">
        <img src="/uploads/images/members/{{ member.imgUrl }}" class="card-img" alt="{{ member.firstName }} {{ member.lastName }}">
        <div class="card-body">
            <h5 class="card-title">{{ member.firstName }} {{ member.lastName }} : {{ member.seniority.name }}</h5>
        <p class="card-text">
            {% for role in member.roles %}
            <span class="">{{ role.name }}
        </p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Joined : {{ member.hiredAt|date('d.m.Y') }}</span>
                {% endfor %}</small>
        </div>
    </div>
</div>
    {% endfor %}
</div>

    <div {{ stimulus_controller('hello') }}>
        ...weqeqw
    </div>
{% endblock %}
