{% extends 'base.html.twig' %}

{% block title %}Member details - {{ member.email }}{% endblock %}

{% block body %}
    <div class="row g-lg-2" style="outline: 1px dotted red">
        <div class="col-lg-12 mt-lg-4">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Basic info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <div class="border border-top-0 p-lg-2">
                        <p class="card-title">
                            Seniority: {{ member.seniority.name }}</p>
                        <p class="card-subtitle">Joined: {{ member.hiredAt|date('d.m.Y') }}</p>
                    </div>
                    <em>Roles</em>
                    <ul class="list-group list-group-flush">
                        {% for role in member.roles %}
                            <li class="list-group-item list-group-item-warning">{{ role.name}}</li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer text-center">
                        <a href="{{ url('member_details', {memberId : member.id }) }}" class="card-link btn btn-primary">Details</a>
                        <a href="#" class="card-link btn btn-secondary">Review</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <h5 class="card-header">{{ member.firstName }} {{ member.lastName }}</h5>
                        <img src="{{ asset("/uploads/images/members/" ~ member.imgUrl) }}" class="card-img" alt="{{ member.firstName }} {{ member.lastName }}">

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}