{% extends 'base.html.twig' %}

{% block title %}Seniority list{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">


        <div class="accordion" id="accordionExample">
            {% for key,item in seniority %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ key }}" aria-expanded="true" aria-controls="collapse{{ key }}">
                        {{ item.level.name }}
                    </button>
                </h2>
                <div id="collapse{{ key }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            {% for line in item.description|split('\n') %}
                            <li>{{ line }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
